/* Light Brown: 706C61*/
/* Cream: FDFCDC*/
/* Blue: 3D405B*/
/* Dark Purple: D7E3FC*/
/* Mid Purple: E2EAFC */
/* Light Purple: EDF2FB*/

/* industry1: e2eafc */
/* industry2: d7e3fc */

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #edf2fb;
}

.home--summary {
  display: flex;
  background-color: #edf2fb;
}

.home--summary > * {
  width: 100%;
}

.home--summary-image {
  display: block;
  width: auto;
  height: auto;
  border-radius: 9px;
  margin-left: auto;
}

.home--summary-description {
  width: auto;
  height: auto;

  border-radius: 9px;
  margin-right: auto;
  background-color: #edf2fb;
}

.home--summary-description-para {
  line-height: 2em;
}

.home--facts {
  background-color: #e2eafc;
}

.home--fun-facts {
  display: grid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.home--fun-facts > .home--fun-fact {
  text-align: center;
}

.home--fun-facts > .home--fun-fact > .home--fun-fact-number {
  font-weight: bold;
}

.home--fun-facts > .home--fun-fact > .home--fun-fact-label {
  font-weight: bold;
}

.home--industries-heading {
  text-align: center;
}

.home--skills {
  background-color: #e2eafc;
}

.home--skills-heading {
  text-align: center;
}

.home--skills-container {
  background-color: #e2eafc;
}

.home--contacts-header {
  text-align: center;
}

.home--contacts-card > h4 {
  text-align: center;
}

.home--contacts-logo {
  display: flex;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.home--contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.home--contacts-container > * {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.home--contacts-container > .home--contacts-linkedin:hover {
  color: #0072b1;
}
.home--contacts-container > .home--contacts-email:hover {
  color: #bb001b;
}
.home--contacts-container > .home--contacts-facebook:hover {
  color: #4267b2;
}
.home--contacts-container > .home--contacts-github:hover {
  color: #a98467;
}
.home--contacts-container > .home--contacts-instagram:hover {
  color: #fb3958;
}

@media (orientation: landscape) {
  .home--summary {
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  .home--summary-image {
    max-width: 24vw;
  }

  .home--summary-description {
    max-width: 50vw;
  }

  .home--summary-description-header {
    margin: 2vw;
    font-size: 2vw;
  }

  .home--summary-description-para {
    margin: 2vw;
    font-size: 1.3vw;
  }

  .home--facts {
    padding-top: 4vw;
  }

  .home--fun-facts {
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vw;
  }

  .home--fun-facts > .home--fun-fact > .home--fun-fact-number {
    font-size: 2vw;
    font-weight: bold;
  }

  .home--fun-facts > .home--fun-fact > .home--fun-fact-label {
    font-size: 1.3vw;
    margin-top: -20px;
    font-weight: bold;
  }

  .home--fun-facts > .home--fun-fact > .icon {
    font-size: 3vw;
  }

  .home--industries-container {
    height: 25vw;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
    margin-left: 14.1vw;
    margin-right: 14.1vw;
  }

  .home--skills-container {
    height: 25vw;
    padding-top: 4vw;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
    margin-left: 14.1vw;
    margin-right: 14.1vw;
  }

  .home--skills {
    padding-bottom: 5vw;
  }

  .home--contacts {
    font-size: 1.35vw;
  }

  .home--contacts-container > * {
    font-size: 3vw;
  }

  .home--contacts-header {
    margin-top: 4vw;
  }

  .home--contacts-card {
    margin-top: 5vw;
    margin-bottom: 4vw;
  }

  .home--contacts-card > h4 {
    margin-top: -2vw;
  }
}

@media (orientation: portrait) {
}

@media screen and (max-width: 900px) {
  .home--summary {
    display: block;
  }

  .home--summary > * {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .home--summary {
    display: block;
  }

  .home--summary > * {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .home--heading {
    text-align: center;
    font-weight: bolder;
  }
}

/* For Industries */
@media screen and (max-width: 1010px) {
  .home--industries-served {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 300px;
  }
  .home--fun-facts {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px;
  }
}

@media screen and (max-width: 750px) {
  .home--industries-served {
    grid-template-columns: 250px 250px;
    grid-template-rows: 300px;
  }
  .home--fun-facts {
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px;
  }
}

@media screen and (max-width: 500px) {
  .home--industries-served {
    grid-template-columns: 250px;
    grid-template-rows: 300px 300px 300px;
  }
  .home--fun-facts {
    grid-template-columns: 250px;
    grid-template-rows: 200px 200px 200px;
  }
}

/* For skills */
@media screen and (max-width: 500px) {
  .home--skills-container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* For industries */
@media screen and (max-width: 500px) {
  .home--industries-container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
