/* Light Brown: 706C61*/
/* Cream: FDFCDC*/
/* Blue: 3D405B*/
/* Dark Purple: D7E3FC*/
/* Mid Purple: E2EAFC */
/* Light Purple: EDF2FB*/

/* industry1: e2eafc */
/* industry2: d7e3fc */

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EDF2FB;
}

.home--summary {
    display: flex;
    background-color: #EDF2FB;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home--summary>* {
    width: 100%;
    margin: 10px;
}

.home--summary-image {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;

    border-radius: 9px;
    /* border: 2px solid black; */

    margin-left: auto;
}

.home--summary-description {
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;

    border-radius: 9px;

    font-size: 25px;
    margin-right: auto;
    background-color: #EDF2FB;
}

.home--summary-description-header {
    margin: 20px;
}

.home--summary-description-para {
    margin: 20px;
    font-size: 16px;
    line-height: 2em;
}

.home--facts {
    background-color: #e2eafc;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home--fun-facts {
    display: grid;

    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
}

.home--fun-facts > .home--fun-fact {
    text-align: center;
}

.home--fun-facts > .home--fun-fact > .icon {
    font-size:xx-large;
}

.home--fun-facts > .home--fun-fact > h4 {
    margin-top: -20px;
}

.home--industries {
    margin-top: 50px;
    margin-bottom: 50px;
}

.home--industries-heading {
    text-align: center;
}

.home--industries-served {
    display: grid;

    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 300px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.home--industries-served>* {
    margin-right: 30px;
    margin-left: 30px;
}

.home--industries-served>*:hover {
    -webkit-box-shadow: 11px 13px 59px -10px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 11px 13px 59px -10px rgba(0, 0, 0, 0.84);
    box-shadow: 11px 13px 59px -10px rgba(0, 0, 0, 0.84);
    cursor: pointer;
}

.home--skills {
    background-color: #e2eafc;
    padding-bottom: 50px;
}

.home--skills-heading {
    text-align: center;
    /* margin-top: 100px; */
}

.home--skills-container {
    background-color: #e2eafc;
    height: 300px;
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 50px;
}

.home--skills-list {

}

.home--skills-list>*{

}

.home--contacts {
}

.home--contacts-header {
    margin-top: 50px;
    text-align: center;
}

.home--contacts-card {
    margin-top: 60px;
    margin-bottom: 50px;
}

.home--contacts-card > h4 {
    text-align: center;
    margin-top: -20px;
}

.home--contacts-logo {
    /* display: block; */
    display: flex;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.home--contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.home--contacts-container > * {
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.home--contacts-container > .home--contacts-linkedin:hover {
    color: #0072b1 ;
}
.home--contacts-container > .home--contacts-email:hover {
    color: #BB001B;
}
.home--contacts-container > .home--contacts-phone:hover {
    color: #1dbf73;
}
.home--contacts-container > .home--contacts-github:hover {
    color: #a98467 ;
}

@media screen and (max-width: 900px) {
    .home--summary {
        display: block;
    }

    .home--summary>* {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 500px) {

    .home--summary {
        display: block;
    }

    .home--summary>* {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .home--heading {
        text-align: center;
        font-weight: bolder;
    }
}

/* For Industries */
@media screen and (max-width: 1010px) {
    .home--industries-served {
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 300px;
    }
    .home--fun-facts {
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 200px;
    }
}

@media screen and (max-width: 750px) {
    .home--industries-served {
        grid-template-columns: 250px 250px;
        grid-template-rows: 300px;
    }
    .home--fun-facts {
        grid-template-columns: 250px 250px;
        grid-template-rows: 200px;
    }
}

@media screen and (max-width: 500px) {
    .home--industries-served {
        grid-template-columns: 250px;
        grid-template-rows: 300px 300px 300px;
    }
    .home--fun-facts {
        grid-template-columns: 250px;
        grid-template-rows: 200px 200px 200px;
    }
}

/* For Industries */
@media screen and (max-width: 500px) {
    .home--skills-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}