.header {
  position: sticky;
  top: 0;
  display: flex;
  list-style-type: none;
  background-color: #3d405b;
  width: 100%;
  z-index: 2000;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 20px;
  cursor: pointer;
}

.navbar a:hover {
  color: #fdfcdc;
  /* font-size: 20px; */
}

.hamburger {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .navbar li:nth-child(1) {
    margin-top: 50px;
  }

  .navbar .item {
    font-size: 20px;
    border-top: 1px solid white;
    cursor: pointer;
    text-align: center;
    width: 85%;
    padding: 20px 0;
  }

  .hamburger {
    display: block;
    width: 50px;
    height: 50px;
  }
}
