.tag {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.tag--image {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 100px 100px 100px 100px;
}

.tag--summary {
  background-color: white;
  padding: 2px 20px;
  border-radius: 0px 0px 9px 9px;
}
