.projects-heading {
  text-align: center;
}

/* .carousel > * {
    display: block;
    max-width:30px;
    max-height:200px;
    width: auto;
    height: auto;
} */

.all-carousel-container {
  margin-left: 50px;
  margin-right: 50px;
}

.client-carousel-container {
  margin-left: 50px;
  margin-right: 50px;
}

.internal-carousel-container {
  margin-left: 50px;
  margin-right: 50px;
}

.university-carousel-container {
  margin-left: 50px;
  margin-right: 50px;
}

.testingImage {
  display: block;
  max-width: 240px;
  max-height: 160px;
  width: auto;
  height: auto;
  border-radius: 9px;
  border: 3px solid black;
}

.testingImage:hover {
  /* color: #111; 
    background: greenyellow;  */
  box-shadow: 0 0 10px #3d405b;
  border: 3.5px solid #3d405b;
  cursor: pointer;
}

.label {
  margin-left: 20px;
}
